<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FechaSistema" value="2009-01-05"/>
  </appSettings>
  <connectionStrings>
    <add name="StringConexion" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2013;user=gd;password=gd2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>