<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.StringConexion"
            connectionString="Data Source=localhost\SQLSERVER2008;Connect Timeout=200; database = dbDisenio; User ID=sa; Password=gestiondedatos;User Instance=False;" />
    </connectionStrings>
</configuration>