<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FechaSistema" value="2009-01-05"/>
  </appSettings>
  <connectionStrings>
    <add name="StringConexion" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2013;user=sa;password=gestiondedatos"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>